:root {
  --brand-bg: linear-gradient(0deg, #275d74, #4D7E93);
  --on-color: #28303b;
  --text-on: #ffffff;
  --text-off: #747a81;
  --bg-color: #15181b;
  --blue-grade: linear-gradient(0deg, #0c69ea, #43cdfd);
  --orange-grade: linear-gradient(0deg, #e86725, #ffc742);
  --green-grade: linear-gradient(0deg, #368600, #b0d304);
  --green: #b0d304;
  --shadow: 3px 3px 20px #20252b;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  transition: all 500ms ease;
}
body {
  font-family: 'Raleway', sans-serif;
  font-size: 1.5em;
  color: var(--text-on);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background: var(--bg-color);
}
header {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  height: 100vh;
  background: var(--brand-bg);
}
main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  padding: 1rem;
  height: 0;
}
main p {
  width: 100%;
  margin-bottom: .5rem;
}
main span {
  padding: 1rem;
  margin: .5rem;
  border: 1px dashed var(--text-off);
  background: var(--on-color);
}
.word:hover {
  cursor: pointer;
  background: var(--orange-grade);
}
fieldset {
  border: none;
}
h1 {
  width: 100%;
  text-align: center;
  color: var(--text-on);
  padding: 1rem;
}
h1 strong {
  color: var(--green);
}
p {
  text-align: center;
  font-size: 1rem;
}
input[type="text"] {
  width: 30rem;
  height: 3rem;
  font-size: 2rem;
  border: 1px solid var(--secondary-color);
}
button {
  width: 5rem;
  height: 3rem;
  font-size: 2rem;
  color: var(--on-color);
  background: var(--blue-grade);
  border: 1px solid var(--secondary-color);
}
.header-search {
  height: 30vh;
}
.main-seach {
  height: 70vh;
  padding: 2rem;
  padding-top: 2rem;
  overflow-x: scroll;
}
.selected {
  background: var(--green-grade);
  cursor: pointer;
  transition: all 1500ms ease;
}
.selected:hover {
  background: var(--green-grade);
}
